// 垂直 水平居中
@mixin hor-ver-align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// 水平居中
@mixin hor-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin noScrollBar {
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin bottom-button {
  cursor: pointer;
  width: 100%;
  padding: 18px;
  position: fixed;
  display: grid;
  place-items: center;
  color: var(--text-primary-color);
  font-size: 16px;
  font-weight: 700;
  bottom: 0;
  background-color: var(--color-primary);
  z-index: 999999;
}

@mixin type-color {
  .blue {
    color: blue;
    font-size: 20px;
    font-family: 700;
  }

  .orange {
    color: rgb(255, 221, 0);
    font-size: 20px;
      font-family: 700;
  }

  .green {
    color: rgb(0, 255, 85);
    font-size: 20px;
      font-family: 700;
  }
}