.Detail {
  width: 100%;
  border-bottom: 1px solid grey;
  .content {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      
    }
    .right {

    }
  }
}