.Options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px  20px;
  background-color: var(--item-bgc-color);
  .shell,
  .send,
  .exchange,
  .add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 14px;
      font-weight: 700;
      margin-top: 6px;
      color: var(--color-primary);
    }
  }
}